﻿
.imageControl{
    margin:0 auto; 
}
.dialogWidth, .imageControl{
    width: 500px;
    height:500px;
}
.contentDiv {
    margin: 20px;
}
.rotateControl{
    margin-right:10px;
}
.spinner {
  height: 10px;
  width: 10px;
  animation: rotate 0.8s infinite linear;
  border: 2px solid;
  border-right-color: transparent;
  border-radius: 50%;
  display: table-cell;
  vertical-align:middle;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

div.inline {
    display: inline-block;
}

div.center{
    margin:0 auto;
    width: 50%;
}

.medium-size{
    height:25px;
    width:25px;
}
.text-center{
    text-align:center;
}
.margin{
    margin: 3em;
}

.dialogChild{
    position: relative;
    border: 1px solid #ccc;
    padding: 2px;
    margin: 2px;
    display: block;
    overflow: hidden;
}

