﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="UploadImage.aspx.cs" Inherits="UploadImage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <script src="JavaScript/UploadImage.js"></script>
    
    <input id="file" type="file" />
    <input id="uploadButton" type="button" value="Upload" onclick="upload()" />
    <div id="uploadSpinner" class="spinner inline"></div>
</asp:Content>


